/* You'll probably want to add some styles here */
#container {
	height:800px;
}
h1 {
	text-align: center;
}
.table {
	text-align: center;
}
#introduction {
	text-align: center;
	color: #808080;
}
.bold {
	font-weight: bold;
}
.red {
	color: #FF0000;
}
.black {
	color: #000000;
}
.white {
	color: white;
	background-color: black;
}